@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.quicksand {
  font-family: var(--font-quicksand);
}

.source-sans-3 {
  font-family: var(--font-source-sans-3);
}

@keyframes fade-in-delayed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in-delayed {
  animation: fade-in-delayed 0.5s ease-in-out 4.5s forwards;
}

.animate-fade-in-delayed-2 {
  animation: fade-in-delayed 0.5s ease-in-out 5.8s forwards;
}
